<div class="full">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="showMenu = !showMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="cursor:default;" [routerLink]="['/']" >Simple-Smtp</span>
    <span class="spacer"></span>
  </mat-toolbar>
  <div class="sideMenu" [class.hidden]="!showMenu">
    <a [routerLink]="['/login']" (click)="showMenu = false">Login</a>
  </div>
  <div class="sideMenuCover" [class.hidden]="!showMenu" (click)="showMenu = false"></div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>