.spacer {
    flex: 1 1 auto;
}


div.full {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

div.sideMenuCover {
    position: absolute;
    z-index: 9;
    top: 64px;
    left: 0;
    bottom: 0;
    right: 0;

    transition: all .2s ease-in-out;
    background-color: rgba(0, 0, 0, .25);
}

div.sideMenuCover.hidden {
    z-index: -1;
    background-color: transparent;
}

div.sideMenu {
    position: absolute;
    top: 64px;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: white;
    z-index: 10;
    border-right: 1px solid gray;
    padding: 5px;
    overflow-y: auto;
    transition: all .2s ease-in-out;
}


div.sideMenu.hidden {
    left: -325px;
}

div.content {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    z-index: 1;
    overflow-y: auto;
    overflow-x: auto;
}

@media screen and (max-width: 600px) {
    div.content,
    div.sideMenu,
    div.sideMenuCover {
        top: 56px;
    }
}